集团客运综合管理系统/Service References/BLL集团客运综合管理.FrequencyManager.NEWFrequencyUpdate/BLL集团客运综合管理.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FrequencyUPDATE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
        <xs:element minOccurs="0" name="LineID" type="xs:int" />
        <xs:element minOccurs="0" name="StartingStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TerminalStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketEntranceID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="FrequencyMC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CirculationDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BeginningDays" type="xs:int" />
        <xs:element minOccurs="0" name="ClassNumber" type="xs:int" />
        <xs:element minOccurs="0" name="StopClassDays" type="xs:int" />
        <xs:element minOccurs="0" name="Generate" type="xs:boolean" />
        <xs:element minOccurs="0" name="WhetherToPas" type="xs:boolean" />
        <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FrequencyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FrequencyUPDATEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrequencyUPDATEResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFrequency">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFrequencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectFrequencyResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFrequencyTIAO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrequencyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFrequencyTIAOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectFrequencyTIAOResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LineSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LineSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TicketEntranceSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TicketEntranceSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketEntranceSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationSelect1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StationSelect1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationSelect1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationSelectTIAO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationMC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationSelectTIAOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationSelectTIAOResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>