集团客运综合管理系统/Service References/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuRuKu/FRM_PiaoJuRuKu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_PiaoJuRuKu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuRuKu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuRuKu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuRuKu.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_PiaoJuRuKu_SelectPiaoJuXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPiaoJuXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuRuKu_SelectPiaoJuXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPiaoJuXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuRuKu_DeleteBiIIEnterlibraryXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBiIIEnterlibraryXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuRuKu_DeleteBiIIEnterlibraryXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBiIIEnterlibraryXinXiResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_PiaoJuRuKu">
    <wsdl:operation name="SelectPiaoJuXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_PiaoJuRuKu/SelectPiaoJuXinXi" message="tns:FRM_PiaoJuRuKu_SelectPiaoJuXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_PiaoJuRuKu/SelectPiaoJuXinXiResponse" message="tns:FRM_PiaoJuRuKu_SelectPiaoJuXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBiIIEnterlibraryXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_PiaoJuRuKu/DeleteBiIIEnterlibraryXinXi" message="tns:FRM_PiaoJuRuKu_DeleteBiIIEnterlibraryXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_PiaoJuRuKu/DeleteBiIIEnterlibraryXinXiResponse" message="tns:FRM_PiaoJuRuKu_DeleteBiIIEnterlibraryXinXi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuRuKu" type="tns:FRM_PiaoJuRuKu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectPiaoJuXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_PiaoJuRuKu/SelectPiaoJuXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBiIIEnterlibraryXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_PiaoJuRuKu/DeleteBiIIEnterlibraryXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_PiaoJuRuKu">
    <wsdl:port name="BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuRuKu" binding="tns:BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuRuKu">
      <soap:address location="http://localhost:52701/BLL%E9%9B%86%E5%9B%A2%E5%AE%A2%E8%BF%90%E7%BB%BC%E5%90%88%E7%AE%A1%E7%90%86.BiIIEnterlibraryManager.FRM_PiaoJuRuKu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>