集团客运综合管理系统/Service References/BLL集团客运综合管理.ClassesManage.FRM_BaoBanGuanLi/BLL集团客运综合管理2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SelectCheLiangBianHao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCheLiangBianHaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectCheLiangBianHaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBaoBanXinXiByChePaiHao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBaoBanXinXiByChePaiHaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectBaoBanXinXiByChePaiHaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectJiaShiYuanXianPian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DriverID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectJiaShiYuanXianPianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectJiaShiYuanXianPianResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFuJiaShiYuanXianPian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DriverID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFuJiaShiYuanXianPianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectFuJiaShiYuanXianPianResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBaoBanXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrequencyID" type="xs:int" />
        <xs:element minOccurs="0" name="WhetherNnSchedule" type="xs:boolean" />
        <xs:element minOccurs="0" name="WhetherLate" type="xs:boolean" />
        <xs:element minOccurs="0" name="StayClassVehicleNo" type="xs:boolean" />
        <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBaoBanXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBaoBanXinXiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>