集团客运综合管理系统/Service References/BLL集团客运综合管理.ClassesManage.FRM_BaoBanGuanLi/FRM_BaoBanGuanLi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_BaoBanGuanLi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.ClassesManage.FRM_BaoBanGuanLi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.ClassesManage.FRM_BaoBanGuanLi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.ClassesManage.FRM_BaoBanGuanLi.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_BaoBanGuanLi_SelectCheLiangBianHao_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCheLiangBianHao" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_SelectCheLiangBianHao_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCheLiangBianHaoResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_SelectBaoBanXinXiByChePaiHao_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectBaoBanXinXiByChePaiHao" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_SelectBaoBanXinXiByChePaiHao_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectBaoBanXinXiByChePaiHaoResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_SelectJiaShiYuanXianPian_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXianPian" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_SelectJiaShiYuanXianPian_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXianPianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_SelectFuJiaShiYuanXianPian_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectFuJiaShiYuanXianPian" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_SelectFuJiaShiYuanXianPian_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectFuJiaShiYuanXianPianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_InsertBaoBanXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBaoBanXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_InsertBaoBanXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBaoBanXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_UpdateVehicleState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehicleState" />
  </wsdl:message>
  <wsdl:message name="FRM_BaoBanGuanLi_UpdateVehicleState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehicleStateResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_BaoBanGuanLi">
    <wsdl:operation name="SelectCheLiangBianHao">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/SelectCheLiangBianHao" message="tns:FRM_BaoBanGuanLi_SelectCheLiangBianHao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/SelectCheLiangBianHaoResponse" message="tns:FRM_BaoBanGuanLi_SelectCheLiangBianHao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectBaoBanXinXiByChePaiHao">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/SelectBaoBanXinXiByChePaiHao" message="tns:FRM_BaoBanGuanLi_SelectBaoBanXinXiByChePaiHao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/SelectBaoBanXinXiByChePaiHaoResponse" message="tns:FRM_BaoBanGuanLi_SelectBaoBanXinXiByChePaiHao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXianPian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/SelectJiaShiYuanXianPian" message="tns:FRM_BaoBanGuanLi_SelectJiaShiYuanXianPian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/SelectJiaShiYuanXianPianResponse" message="tns:FRM_BaoBanGuanLi_SelectJiaShiYuanXianPian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectFuJiaShiYuanXianPian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/SelectFuJiaShiYuanXianPian" message="tns:FRM_BaoBanGuanLi_SelectFuJiaShiYuanXianPian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/SelectFuJiaShiYuanXianPianResponse" message="tns:FRM_BaoBanGuanLi_SelectFuJiaShiYuanXianPian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBaoBanXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/InsertBaoBanXinXi" message="tns:FRM_BaoBanGuanLi_InsertBaoBanXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/InsertBaoBanXinXiResponse" message="tns:FRM_BaoBanGuanLi_InsertBaoBanXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleState">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/UpdateVehicleState" message="tns:FRM_BaoBanGuanLi_UpdateVehicleState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_BaoBanGuanLi/UpdateVehicleStateResponse" message="tns:FRM_BaoBanGuanLi_UpdateVehicleState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL集团客运综合管理.ClassesManage.FRM_BaoBanGuanLi" type="tns:FRM_BaoBanGuanLi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectCheLiangBianHao">
      <soap:operation soapAction="http://tempuri.org/FRM_BaoBanGuanLi/SelectCheLiangBianHao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBaoBanXinXiByChePaiHao">
      <soap:operation soapAction="http://tempuri.org/FRM_BaoBanGuanLi/SelectBaoBanXinXiByChePaiHao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXianPian">
      <soap:operation soapAction="http://tempuri.org/FRM_BaoBanGuanLi/SelectJiaShiYuanXianPian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectFuJiaShiYuanXianPian">
      <soap:operation soapAction="http://tempuri.org/FRM_BaoBanGuanLi/SelectFuJiaShiYuanXianPian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBaoBanXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_BaoBanGuanLi/InsertBaoBanXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleState">
      <soap:operation soapAction="http://tempuri.org/FRM_BaoBanGuanLi/UpdateVehicleState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_BaoBanGuanLi">
    <wsdl:port name="BLL集团客运综合管理.ClassesManage.FRM_BaoBanGuanLi" binding="tns:BLL集团客运综合管理.ClassesManage.FRM_BaoBanGuanLi">
      <soap:address location="http://localhost:52701/BLL%E9%9B%86%E5%9B%A2%E5%AE%A2%E8%BF%90%E7%BB%BC%E5%90%88%E7%AE%A1%E7%90%86.ClassesManage.FRM_BaoBanGuanLi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>