集团客运综合管理系统/Service References/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuRuKu_Insert/BLL集团客运综合管理.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SelectBiIIType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBiIITypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectBiIITypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBiIIEnterlibraryXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BiIITypeID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="BeginTicketMark" type="xs:int" />
        <xs:element minOccurs="0" name="FinishTicketMark" type="xs:int" />
        <xs:element minOccurs="0" name="CurrentTicketMark" type="xs:int" />
        <xs:element minOccurs="0" name="EnterlibraryQuantity" type="xs:int" />
        <xs:element minOccurs="0" name="Inventory" type="xs:int" />
        <xs:element minOccurs="0" name="EnterlibraryDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBiIIEnterlibraryXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBiIIEnterlibraryXinXiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>