集团客运综合管理系统/Service References/BLL集团客运综合管理.进站检查.Jinzhanjiancha/BLL集团客运综合管理.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="selectanquanjianxianmghu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectanquanjianxianmghuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectanquanjianxianmghuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERTInspectionItemmingxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarriageInspectionShedID" type="xs:int" />
        <xs:element minOccurs="0" name="InspectionItemID" type="xs:int" />
        <xs:element minOccurs="0" name="YON" type="xs:boolean" />
        <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERTInspectionItemmingxiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="INSERTInspectionItemmingxiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insectjianchadan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
        <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="CarBelongToTheUnitID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="TheDriverSignature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VehicleTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="CompetaterID" type="xs:int" />
        <xs:element minOccurs="0" name="Youxiaodate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="YON" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insectjianchadanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insectjianchadanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSaveCheak_Selectchelaing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSaveCheak_SelectchelaingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarSaveCheak_SelectchelaingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCheLiangXinXiOnchepaihao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCheLiangXinXiOnchepaihaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectCheLiangXinXiOnchepaihaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECTCEXINGONCHEPIHAO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECTCEXINGONCHEPIHAOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SELECTCEXINGONCHEPIHAOResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSaveCheak_selectcheshudanwei">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSaveCheak_selectcheshudanweiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarSaveCheak_selectcheshudanweiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSaveCheak_selectjichayuan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSaveCheak_selectjichayuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarSaveCheak_selectjichayuanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSaveCheak_updatechelaingzhuangtai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSaveCheak_updatechelaingzhuangtaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarSaveCheak_updatechelaingzhuangtaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectdongtaijianchadan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectdongtaijianchadanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectdongtaijianchadanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectmnigxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarriageInspectionShedID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectmnigxiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectmnigxiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>