集团客运综合管理系统/Service References/BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi/FRM_JiaShiYuanGuanLi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_JiaShiYuanGuanLi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanBianHao_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanBianHao" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanBianHao_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanBianHaoResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanMingCheng_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanMingCheng" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanMingCheng_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanMingChengResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXiByJiaShiYuanBianHao_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXinXiByJiaShiYuanBianHao" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXiByJiaShiYuanBianHao_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXinXiByJiaShiYuanBianHaoResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXiByJiaShiYuanID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXinXiByJiaShiYuanID" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXiByJiaShiYuanID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXinXiByJiaShiYuanIDResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXiangXiXinXiByJiaShiYuanIDResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanTuPian_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanTuPian" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_SelectJiaShiYuanTuPian_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanTuPianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_DeleteJiaShiYuanXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJiaShiYuanXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_DeleteJiaShiYuanXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJiaShiYuanXinXiResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_JiaShiYuanGuanLi">
    <wsdl:operation name="SelectJiaShiYuanBianHao">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanBianHao" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanBianHao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanBianHaoResponse" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanBianHao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanMingCheng">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanMingCheng" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanMingCheng_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanMingChengResponse" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanMingCheng_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXi" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXiResponse" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXinXiByJiaShiYuanBianHao">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXiByJiaShiYuanBianHao" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXiByJiaShiYuanBianHao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXiByJiaShiYuanBianHaoResponse" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXiByJiaShiYuanBianHao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXinXiByJiaShiYuanID">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXiByJiaShiYuanID" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXiByJiaShiYuanID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXiByJiaShiYuanIDResponse" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXinXiByJiaShiYuanID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXiangXiXinXiByJiaShiYuanIDResponse" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanTuPian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanTuPian" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanTuPian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanTuPianResponse" message="tns:FRM_JiaShiYuanGuanLi_SelectJiaShiYuanTuPian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJiaShiYuanXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/DeleteJiaShiYuanXinXi" message="tns:FRM_JiaShiYuanGuanLi_DeleteJiaShiYuanXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi/DeleteJiaShiYuanXinXiResponse" message="tns:FRM_JiaShiYuanGuanLi_DeleteJiaShiYuanXinXi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi" type="tns:FRM_JiaShiYuanGuanLi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectJiaShiYuanBianHao">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanBianHao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanMingCheng">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanMingCheng" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXinXiByJiaShiYuanBianHao">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXiByJiaShiYuanBianHao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXinXiByJiaShiYuanID">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXinXiByJiaShiYuanID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanXiangXiXinXiByJiaShiYuanID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanTuPian">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi/SelectJiaShiYuanTuPian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJiaShiYuanXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi/DeleteJiaShiYuanXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_JiaShiYuanGuanLi">
    <wsdl:port name="BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi" binding="tns:BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi">
      <soap:address location="http://localhost:52701/BLL%E9%9B%86%E5%9B%A2%E5%AE%A2%E8%BF%90%E7%BB%BC%E5%90%88%E7%AE%A1%E7%90%86.VehicleManage.FRM_JiaShiYuanGuanLi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>