集团客运综合管理系统/Service References/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuChuKu_Insert/BLL集团客运综合管理1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SelectShiYonZhuangTai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectShiYonZhuangTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectShiYonZhuangTaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectYonHuBianHao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectYonHuBianHaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectYonHuBianHaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectYonHuByYonHuBianHao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCoding" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectYonHuByYonHuBianHaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectYonHuByYonHuBianHaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPiaoJuKuCunXinXi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPiaoJuKuCunXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectPiaoJuKuCunXinXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPiaoJuChuKu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BiIITypeID" type="xs:int" />
        <xs:element minOccurs="0" name="ReceiveUserID" type="xs:int" />
        <xs:element minOccurs="0" name="UseStateID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="BeginTicketMark" type="xs:int" />
        <xs:element minOccurs="0" name="FinishTicketMark" type="xs:int" />
        <xs:element minOccurs="0" name="CurrentTicketMark" type="xs:int" />
        <xs:element minOccurs="0" name="SurplusQuantity" type="xs:int" />
        <xs:element minOccurs="0" name="RemovaDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LogicalDeleteTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NeckUseQuantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPiaoJuChuKuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPiaoJuChuKuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePiaoJuChuKu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentTicketMark" type="xs:int" />
        <xs:element minOccurs="0" name="Inventory" type="xs:int" />
        <xs:element minOccurs="0" name="BiIIEnterlibraryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePiaoJuChuKuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePiaoJuChuKuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>