集团客运综合管理系统/Service References/BLL集团客运综合管理.chuzhanjicha.chezhanjicha/BLL集团客运综合管理.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Selectchelaing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectchelaingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectchelaingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectchelaingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectchelaingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectchelaingIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selectchelaingxinhao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectchelaingxinhaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectchelaingxinhaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectbanci">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectbanciResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectbanciResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectbancirenshu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectbancirenshuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectbancirenshuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectbancirenshuertongshu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectbancirenshuertongshuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectbancirenshuertongshuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERTchuzhanxinxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
        <xs:element minOccurs="0" name="CarBelongToTheUnitID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="TheNumberOfPassengers" type="xs:int" />
        <xs:element minOccurs="0" name="ChildrenFree" type="xs:int" />
        <xs:element minOccurs="0" name="ComprehensiveResults" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AllPass" type="xs:boolean" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERTchuzhanxinxiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="INSERTchuzhanxinxiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectjichayuan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectjichayuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectjichayuanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectcheshudanwei">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectcheshudanweiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectcheshudanweiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insectchuzhanmingxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TheStationInspectionID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="AuditByComparisonNaneID" type="xs:int" />
        <xs:element minOccurs="0" name="YON" type="xs:boolean" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insectchuzhanmingxiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insectchuzhanmingxiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectjichaxianmu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectjichaxianmuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectjichaxianmuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatechelaingzhuangtai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatechelaingzhuangtaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatechelaingzhuangtaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatechelaingzhuangtaizuowei">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatechelaingzhuangtaizuoweiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatechelaingzhuangtaizuoweiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectjichaxiangmu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TheStationInspectionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectjichaxiangmuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectjichaxiangmuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECTJICHAXIANGMUMINGXI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECTJICHAXIANGMUMINGXIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SELECTJICHAXIANGMUMINGXIResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectcheliangjichadan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehiclePaiNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectcheliangjichadanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectcheliangjichadanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>