集团客运综合管理系统/Service References/BLL集团客运综合管理.SeaseTicket.TicketSease/BLL集团客运综合管理2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Selectchepiao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartingStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TerminalStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketPriceTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="给出时间" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FrequencyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectchepiaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectchepiaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selectbancionshijian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartingStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TerminalStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketPriceTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="给出时间" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectbancionshijianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectbancionshijianResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selectczhandianandpiaojia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartingStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TerminalStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketPriceTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="FrequencyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectczhandianandpiaojiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectczhandianandpiaojiaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStaion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStaionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectStaionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selelctticketzhuangtai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrequencyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelelctticketzhuangtaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelelctticketzhuangtaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectchelaingdexiwei">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrequencyID" type="xs:int" />
        <xs:element minOccurs="0" name="个数" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectchelaingdexiweiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectchelaingdexiweiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatexiweizhaungtai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SeatsID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatexiweizhaungtaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatexiweizhaungtaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insectdingpiaoxinxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrequencyID" type="xs:int" />
        <xs:element minOccurs="0" name="SeatsID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketMark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TicketingDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TicketingDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TicketPriceTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="Howmoney" type="xs:decimal" />
        <xs:element minOccurs="0" name="TicketStateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsectdingpiaoxinxiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsectdingpiaoxinxiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selectzuidapiohao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectzuidapiohaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectzuidapiohaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETETicketingInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketingInformationID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketPriceTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketStateID" type="xs:int" />
        <xs:element minOccurs="0" name="Tuipiaoshouxufei" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETETicketingInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DELETETicketingInformationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETETicketingInformationtuipiao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketingInformationID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketPriceTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="Tuipiaoshouxufei" type="xs:int" />
        <xs:element minOccurs="0" name="TicketStateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETETicketingInformationtuipiaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DELETETicketingInformationtuipiaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectpiaojiaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SeatsID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectpiaojiaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectpiaojiaIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatexiweizhaungtaiweibaofei">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SeatsID" type="xs:int" />
        <xs:element minOccurs="0" name="SeatsStateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatexiweizhaungtaiweibaofeiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatexiweizhaungtaiweibaofeiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoHuSelectpiaoxinxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="动态条件" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoHuSelectpiaoxinxiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoHuSelectpiaoxinxiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectchexing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectchexingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectchexingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectpiaoxing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectpiaoxingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectpiaoxingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectpiaozhaungrtai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectpiaozhaungrtaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectpiaozhaungrtaiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectfeipiaoxinxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SeatsID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectfeipiaoxinxiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectfeipiaoxinxiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectgenjuyonghuID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectgenjuyonghuIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectgenjuyonghuIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATEdangqianpiaohao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentTicketMark" type="xs:int" />
        <xs:element minOccurs="0" name="SurplusQuantity" type="xs:int" />
        <xs:element minOccurs="0" name="ReceiveUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATEdangqianpiaohaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UPDATEdangqianpiaohaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectyanzhengma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DingPiaoYanZhengMa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectyanzhengmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectyanzhengmaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateyanzhengma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShiFou" type="xs:boolean" />
        <xs:element minOccurs="0" name="DingPiaoYanZhengMa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateyanzhengmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateyanzhengmaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>