集团客运综合管理系统/Service References/BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi_Update/FRM_JiaShiYuanGuanLi_Update.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_JiaShiYuanGuanLi_Update" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi_Update.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi_Update.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi_Update.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_SelectQuasiDrivingType_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectQuasiDrivingType" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_SelectQuasiDrivingType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectQuasiDrivingTypeResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_SelectOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectOrganization" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_SelectOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_SelectJiaShiYuanXinXiByDriverID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXinXiByDriverID" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_SelectJiaShiYuanXinXiByDriverID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanXinXiByDriverIDResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_SelectJiaShiYuanTuPian_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanTuPian" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_SelectJiaShiYuanTuPian_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectJiaShiYuanTuPianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_UpdateDriverXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriverXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaShiYuanGuanLi_Update_UpdateDriverXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriverXinXiResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_JiaShiYuanGuanLi_Update">
    <wsdl:operation name="SelectQuasiDrivingType">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectQuasiDrivingType" message="tns:FRM_JiaShiYuanGuanLi_Update_SelectQuasiDrivingType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectQuasiDrivingTypeResponse" message="tns:FRM_JiaShiYuanGuanLi_Update_SelectQuasiDrivingType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectOrganization" message="tns:FRM_JiaShiYuanGuanLi_Update_SelectOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectOrganizationResponse" message="tns:FRM_JiaShiYuanGuanLi_Update_SelectOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXinXiByDriverID">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectJiaShiYuanXinXiByDriverID" message="tns:FRM_JiaShiYuanGuanLi_Update_SelectJiaShiYuanXinXiByDriverID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectJiaShiYuanXinXiByDriverIDResponse" message="tns:FRM_JiaShiYuanGuanLi_Update_SelectJiaShiYuanXinXiByDriverID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanTuPian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectJiaShiYuanTuPian" message="tns:FRM_JiaShiYuanGuanLi_Update_SelectJiaShiYuanTuPian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectJiaShiYuanTuPianResponse" message="tns:FRM_JiaShiYuanGuanLi_Update_SelectJiaShiYuanTuPian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDriverXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/UpdateDriverXinXi" message="tns:FRM_JiaShiYuanGuanLi_Update_UpdateDriverXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/UpdateDriverXinXiResponse" message="tns:FRM_JiaShiYuanGuanLi_Update_UpdateDriverXinXi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi_Update" type="tns:FRM_JiaShiYuanGuanLi_Update">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectQuasiDrivingType">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectQuasiDrivingType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOrganization">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanXinXiByDriverID">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectJiaShiYuanXinXiByDriverID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectJiaShiYuanTuPian">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/SelectJiaShiYuanTuPian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDriverXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaShiYuanGuanLi_Update/UpdateDriverXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_JiaShiYuanGuanLi_Update">
    <wsdl:port name="BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi_Update" binding="tns:BLL集团客运综合管理.VehicleManage.FRM_JiaShiYuanGuanLi_Update">
      <soap:address location="http://localhost:52701/BLL%E9%9B%86%E5%9B%A2%E5%AE%A2%E8%BF%90%E7%BB%BC%E5%90%88%E7%AE%A1%E7%90%86.VehicleManage.FRM_JiaShiYuanGuanLi_Update.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>