集团客运综合管理系统/Service References/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuChuKu/FRM_PiaoJuChuKu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_PiaoJuChuKu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuChuKu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuChuKu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52701/BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuChuKu.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_PiaoJuChuKu_SelectYuanGongXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectYuanGongXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuChuKu_SelectYuanGongXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectYuanGongXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuChuKu_SelectPiaoJuChuKuXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPiaoJuChuKuXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuChuKu_SelectPiaoJuChuKuXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPiaoJuChuKuXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuChuKu_SeleceBillremovaXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleceBillremovaXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuChuKu_SeleceBillremovaXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleceBillremovaXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuChuKu_DelectBillremova_InputMessage">
    <wsdl:part name="parameters" element="tns:DelectBillremova" />
  </wsdl:message>
  <wsdl:message name="FRM_PiaoJuChuKu_DelectBillremova_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelectBillremovaResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_PiaoJuChuKu">
    <wsdl:operation name="SelectYuanGongXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_PiaoJuChuKu/SelectYuanGongXinXi" message="tns:FRM_PiaoJuChuKu_SelectYuanGongXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_PiaoJuChuKu/SelectYuanGongXinXiResponse" message="tns:FRM_PiaoJuChuKu_SelectYuanGongXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPiaoJuChuKuXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_PiaoJuChuKu/SelectPiaoJuChuKuXinXi" message="tns:FRM_PiaoJuChuKu_SelectPiaoJuChuKuXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_PiaoJuChuKu/SelectPiaoJuChuKuXinXiResponse" message="tns:FRM_PiaoJuChuKu_SelectPiaoJuChuKuXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleceBillremovaXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_PiaoJuChuKu/SeleceBillremovaXinXi" message="tns:FRM_PiaoJuChuKu_SeleceBillremovaXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_PiaoJuChuKu/SeleceBillremovaXinXiResponse" message="tns:FRM_PiaoJuChuKu_SeleceBillremovaXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelectBillremova">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_PiaoJuChuKu/DelectBillremova" message="tns:FRM_PiaoJuChuKu_DelectBillremova_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_PiaoJuChuKu/DelectBillremovaResponse" message="tns:FRM_PiaoJuChuKu_DelectBillremova_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuChuKu" type="tns:FRM_PiaoJuChuKu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectYuanGongXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_PiaoJuChuKu/SelectYuanGongXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPiaoJuChuKuXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_PiaoJuChuKu/SelectPiaoJuChuKuXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleceBillremovaXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_PiaoJuChuKu/SeleceBillremovaXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelectBillremova">
      <soap:operation soapAction="http://tempuri.org/FRM_PiaoJuChuKu/DelectBillremova" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_PiaoJuChuKu">
    <wsdl:port name="BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuChuKu" binding="tns:BLL集团客运综合管理.BiIIEnterlibraryManager.FRM_PiaoJuChuKu">
      <soap:address location="http://localhost:52701/BLL%E9%9B%86%E5%9B%A2%E5%AE%A2%E8%BF%90%E7%BB%BC%E5%90%88%E7%AE%A1%E7%90%86.BiIIEnterlibraryManager.FRM_PiaoJuChuKu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>