集团客运综合管理系统/Service References/BLL集团客运综合管理.CampseizedmoneyManager.Campseizedmoneyguanli/BLL集团客运综合管理.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="selectyonghu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectyonghuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectyonghuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Campseizedmoney_selectdangqianpiaohao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Campseizedmoney_selectdangqianpiaohaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Campseizedmoney_selectdangqianpiaohaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Campseizedmoney_selectshoupiaozhangshu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketingDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Campseizedmoney_selectshoupiaozhangshuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Campseizedmoney_selectshoupiaozhangshuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Campseizedmoney_insectyingshoujiaofeidan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCoding" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Shoupiaozhangshu" type="xs:int" />
        <xs:element minOccurs="0" name="Shoupiaojine" type="xs:decimal" />
        <xs:element minOccurs="0" name="tuipiaozhangshu" type="xs:int" />
        <xs:element minOccurs="0" name="tuipiaojine" type="xs:decimal" />
        <xs:element minOccurs="0" name="feipiaozhangshu" type="xs:int" />
        <xs:element minOccurs="0" name="feipiaojine" type="xs:decimal" />
        <xs:element minOccurs="0" name="jiankuanjine" type="xs:decimal" />
        <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Createtime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Campseizedmoney_insectyingshoujiaofeidanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Campseizedmoney_insectyingshoujiaofeidanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Campseizedmoney_yingshoudan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Campseizedmoney_yingshoudanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Campseizedmoney_yingshoudanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>