集团客运综合管理系统/Service References/BLL集团客运综合管理.FrequencyManager.NEWFrequencyInsect/BLL集团客运综合管理2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FrequencyInsect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
        <xs:element minOccurs="0" name="LineID" type="xs:int" />
        <xs:element minOccurs="0" name="StartingStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TerminalStationID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketEntranceID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="FrequencyMC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CirculationDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BeginningDays" type="xs:int" />
        <xs:element minOccurs="0" name="ClassNumber" type="xs:int" />
        <xs:element minOccurs="0" name="StopClassDays" type="xs:int" />
        <xs:element minOccurs="0" name="Generate" type="xs:boolean" />
        <xs:element minOccurs="0" name="WhetherToPas" type="xs:boolean" />
        <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ListState" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FrequencyInsectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrequencyInsectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineLInsect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="LineMC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineLInsectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LineLInsectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationInsect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="StationMC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SitePinYinInitials" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationNunber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationInsectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationInsectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsectDriverForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserID" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteUserID" type="xs:int" />
        <xs:element minOccurs="0" name="TicketEntranceMC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LogicalDeleteTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsectDriverFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsectDriverFormResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LineSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LineSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StationSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TicketEntranceSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TicketEntranceSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketEntranceSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationSelectOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationMC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationSelectOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationSelectOnResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineSelectOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LineMC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineSelectOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LineSelectOnResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>